*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: rgb(220,209,230);
}

.container{
    border:1px solid red;
    display:flex;
    flex-direction: column;
    width:500px;
    height:500px;
    border:10px solid #eee;
    border-radius: 10px;
}

.screen{
    width:100%;
    height:30%;
    border:10px solid black;
    border-radius: 10px;
    background-color: rgb(241,243,240);
    font-family:"Orbitron",sans-serif;
    color:rgb(53,47,45);
    padding:0 5px;
    
}

.calc{
    height:30%;
    font-size:24px;
    text-align: right;
}

.display{
    text-align:right;
    font-size: 50px;
    height:70%;
    overflow: scroll;
}

.numpad{
    display:flex;
    flex-wrap: wrap;
    height: 100%;
    background-color:rgb(230,231,237);

    
}

.numpad .num{
    width:25%;
    padding:10px;
    font-size:24px;
    border-radius: 10px;
    background-color: rgb(74,80,88);
    color:white;
    
    

}
#clear, #backspace{
    width:50%;
    padding:10px;
    font-size:24px;
    border-radius: 10px;
}

#clear{
    background-color: rgb(216,122,80);
    color:white;
}
#backspace{
    background-color: rgb(80,95,122);
    color:white;
}